body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat {
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#chat div{
    margin: 15px;
}

.send-content{
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
    width: 100%;
}

.send-content input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.send-content button{
    width: 10%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}